# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# genre_prediction stuff
genre_prediction/midi_pipeline.py
genre_prediction/midi_prediction_label_encoders_20.pkl
genre_prediction/midi_prediction_label_target_encoders_20.pkl
genre_prediction/midi_prediction_model_20.pkl
genre_prediction/midi_preprocessing_with_rachel_data.py
genre_prediction/midi_train_with_rachelP_data.py
genre_prediction/midi_training.py
genre_prediction/data/exploring.ipynb
genre_prediction/data/list_midi_sorted_by_genre.csv
genre_prediction/data/mmd_discogs_genre_with_artists.csv
genre_prediction/data/mmd_scraped_artist_genre.csv
genre_prediction/data/statistics.csv

# Dataset
lmd_full
data

# model files 
models/model_2048_10kseq/pytorch_model.bin
models/model_2048_10kseq/tokenizer_config.json
models/model_2048_10kseq/special_tokens_map.json
models/model_2048_10kseq/config.json
models/model_2048_10kseq/generated_sequences/0699f83b5e4ff9ffb292e465757a1e37ec6ce74d98a049c8c5cbfa03e08bc271.txt
models/model_2048_10kseq/generated_sequences/deefdeb09555537daeab5651000d807670cf749858efbe376b8544f54204266a.txt
models/model_2048_10kseq/generated_sequences/df71ea54b9b6b06e82236a3134770a9a4f1678236180832cf6517c0a173fef81.txt

# VSCode
.vscode
