[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
miditok = "1.3.2"
miditoolkit = "*"
scikit-learn = "*"
pylab-sdk = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
mido = "*"
python-rtmidi = "*"
pretty-midi = "*"
note-seq = "*"
huggingface-hub = "*"
ipykernel = "*"
pyfluidsynth = "*"
pydub = "*"
pip = "*"
ffmpeg = "*"
wandb = "*"
tokenizers = "*"
huggingface_hub = "*"
datetime = "*"
datasets = "== 2.6.1"
gradio = "3.13.1"
transformers = "*"
torch = "*"
torchvision = "*"
bertviz = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
